<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>sdp-ui</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>401</error-code>
		<location>/pages/error/noauth.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/pages/error/generalError.jsf</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/pages/error/generalError.jsf</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/pages/error/generalError.jsf</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/pages/error/generalError.jsf</location>
	</error-page>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>CUSTOM_VERSION</param-name>
		<param-value>@@VERSION_LABEL@@</param-value>
	</context-param>
	<context-param>
		<param-name>sdp-config-location</param-name>
		<param-value>sdp-config/sdp-config.properties</param-value>
	</context-param>
	<context-param>
		<description>
			State saving method: 'client' or 'server' (=default). See
			JSF Specification 2.5.2
		</description>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>resources.application</param-value>
	</context-param>
	<listener>
		<listener-class>
			com.sun.faces.config.ConfigureListener
		</listener-class>
	</listener>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.VALIDATE_EMPTY_FIELDS</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>org.icefaces.disableDefaultErrorPopups</param-name>
		<param-value>false</param-value>
	</context-param>

	<servlet>
		<servlet-name>Resource Servlet</servlet-name>
		<servlet-class>
			com.icesoft.faces.webapp.CompatResourceServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Resource Servlet</servlet-name>
		<url-pattern>/xmlhttp/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>log4jInitServlet</servlet-name>
		<servlet-class>com.accenture.bby.sdp.web.servlet.Log4jInitServlet</servlet-class>
		<init-param>
			<param-name>log4j-properties-location</param-name>
			<param-value>sdp-config/log4j/log4j-opsui.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>log4jInitServlet</servlet-name>
		<url-pattern>/logging/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>cacheInitServlet</servlet-name>
		<servlet-class>com.accenture.bby.sdp.web.servlet.CacheInitServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>cacheInitServlet</servlet-name>
		<url-pattern>/cache/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>catalogFileExportServlet</servlet-name>
		<servlet-class>com.accenture.bby.sdp.web.servlet.CatalogFileExportServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>catalogFileExportServlet</servlet-name>
		<url-pattern>/export/catalogFile/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>kcbCatalogFileExportServlet</servlet-name>
		<servlet-class>com.accenture.bby.sdp.web.servlet.KcbCatalogFileExportServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>kcbCatalogFileExportServlet</servlet-name>
		<url-pattern>/export/kcbCatalogFile/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>depletionReportFileExportServlet</servlet-name>
		<servlet-class>com.accenture.bby.sdp.web.servlet.DepletionReportFileExportServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>depletionReportFileExportServlet</servlet-name>
		<url-pattern>/export/depletionFile/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>auditTrailFileExportServlet</servlet-name>
		<servlet-class>com.accenture.bby.sdp.web.servlet.AuditTrailFileExportServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>auditTrailFileExportServlet</servlet-name>
		<url-pattern>/export/auditTrailFile/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>auditTrailDetailFileExportServlet</servlet-name>
		<servlet-class>com.accenture.bby.sdp.web.servlet.AuditTrailDetailFileExportServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>auditTrailDetailFileExportServlet</servlet-name>
		<url-pattern>/export/auditTrailDetailFile/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<listener>
		<listener-class>com.accenture.bby.sdp.web.filter.SessionListener</listener-class>
	</listener>


	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/pages/login/login.jsf</form-login-page>
			<form-error-page>/pages/login/login_error.jsf</form-error-page>
		</form-login-config>
	</login-config>
		<security-constraint>
		<web-resource-collection>
			<web-resource-name>AdminOnly</web-resource-name>
			<url-pattern>/cache/*</url-pattern>
			<url-pattern>/logging/*</url-pattern>
			<url-pattern>/pages/monitoring/*</url-pattern>
			<url-pattern>/pages/support/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Monitor</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>BaseAuth</web-resource-name>
			<url-pattern>/pages/catalog/*</url-pattern>
			<url-pattern>/pages/vendor/*</url-pattern>
			<url-pattern>/pages/keycodeBank/*</url-pattern>
			<url-pattern>/pages/preorder/*</url-pattern>
			<url-pattern>/pages/eccui/*</url-pattern>
			<url-pattern>/pages/sdpOrderDetail/*</url-pattern>
			<url-pattern>/pages/vendorProvisioningStatus/*</url-pattern>
			<url-pattern>/pages/sdpRequest/*</url-pattern>
			<url-pattern>/pages/transLog/*</url-pattern>
			<url-pattern>/pages/vendorRequest/*</url-pattern>
			<url-pattern>/pages/exception/*</url-pattern>
			<url-pattern>/pages/exceptionresult/*</url-pattern>
			<url-pattern>/pages/home/*</url-pattern>
			<url-pattern>/pages/sdpOrderSearch/*</url-pattern>
			<url-pattern>/pages/sdpOrderSearchResults/*</url-pattern>
			<url-pattern>/pages/audit/*</url-pattern>
			<url-pattern>/pages/index.jsp</url-pattern>
			<url-pattern>/export/*</url-pattern>
			<url-pattern>/index.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Monitor</role-name>
			<role-name>OpsUser</role-name>
			<role-name>OpsAdmin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>ECC</web-resource-name>
			<url-pattern>/pages/eccui/*</url-pattern>
			<url-pattern>/pages/index.jsp</url-pattern>
			<url-pattern>/index.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Monitor</role-name>
			<role-name>OpsUser</role-name>
			<role-name>OpsAdmin</role-name>
			<role-name>ECCUser</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-role>
		<role-name>Monitor</role-name>
	</security-role>
	<security-role>
		<role-name>OpsUser</role-name>
	</security-role>
	<security-role>
		<role-name>OpsAdmin</role-name>
	</security-role>
	<security-role>
		<role-name>ECCUser</role-name>
	</security-role>
</web-app>
